In [1]:
import pandas as pd

In [16]:
df_labels = pd.read_csv('data_labels.csv')

In [4]:
labels

                   case_id                slide_id label label_dummy
0               0055483886              0055483886  pole        pole
1               0047953852              0047953852   p53         p53
2   DigitalSlide_E6M_15S_1  DigitalSlide_E6M_15S_1   msi        pole
3                       30                      30  pole        pole
4   DigitalSlide_E6M_17S_1  DigitalSlide_E6M_17S_1  pole        pole
5               0054130784              0054130784   p53         p53
6               0029468706              0029468706   lcn         lcn
7   DigitalSlide_E6M_20S_1  DigitalSlide_E6M_20S_1   lcn         lcn
8               0057134497              0057134497   lcn         lcn
9               0049547258              0049547258   lcn         lcn
10              0048086809              0048086809   lcn         lcn
11              0047176089              0047176089   p53         p53
12              0042034876              0042034876   p53         p53
13              0042711961              0042711961   p53         p53
14              0046877280              0046877280   p53        pole
15              0042951302              0042951302   p53         p53

In [8]:
srs_slide = labels['slide_id']

In [9]:
srs_slide

0                 0055483886
1                 0047953852
2     DigitalSlide_E6M_15S_1
3                         30
4     DigitalSlide_E6M_17S_1
5                 0054130784
6                 0029468706
7     DigitalSlide_E6M_20S_1
8                 0057134497
9                 0049547258
10                0048086809
11                0047176089
12                0042034876
13                0042711961
14                0046877280
15                0042951302
Name: slide_id, dtype: object

In [14]:
srs_slide.isin(srs_slide[[5,9]].tolist())

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
Name: slide_id, dtype: bool

In [15]:
srs_slide[[5,9]]

5    0054130784
9    0049547258
Name: slide_id, dtype: object

In [17]:
df_splits = pd.read_csv('splits/idibell_100/splits_0.csv')

In [18]:
df_splits

   Unnamed: 0                   train       val                    test
0           0  DigitalSlide_E6M_15S_1        30              0046877280
1           1              0048086809  55483886  DigitalSlide_E6M_17S_1
2           2              0042034876  49547258  DigitalSlide_E6M_20S_1
3           3              0042951302  57134497              0029468706
4           4                     NaN  47176089              0047953852
5           5                     NaN  54130784              0042711961

In [22]:
df_splits['val']

0          30
1    55483886
2    49547258
3    57134497
4    47176089
5    54130784
Name: val, dtype: int64

In [40]:
#srs_slide.isin(df_splits['train'].tolist())
#srs_slide.isin(df_splits['test'].tolist())
srs_slide.isin(df_splits['val'].tolist())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: slide_id, dtype: bool

In [60]:
#srs_slide.isin(df_splits['train'])
#srs_slide.isin(df_splits['test'])
srs_slide.isin(df_splits['val'])

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: slide_id, dtype: bool

In [47]:
#srs_slide.isin(df_splits['train'].astype(srs_slide.dtype))
#srs_slide.isin(df_splits['test'].astype(srs_slide.dtype))
srs_slide.isin(df_splits['val'].astype(srs_slide.dtype))

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: slide_id, dtype: bool

In [41]:
#srs_slide.isin(df_splits['train'].astype(srs_slide.dtype).tolist())
#srs_slide.isin(df_splits['test'].astype(srs_slide.dtype).tolist())
srs_slide.isin(df_splits['val'].astype(srs_slide.dtype).tolist())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: slide_id, dtype: bool

In [58]:
x = df_splits['val']
x.isin(x.astype(srs_slide.dtype))

0    True
1    True
2    True
3    True
4    True
5    True
Name: val, dtype: bool

In [27]:
srs_slide.dtype

dtype('O')

In [31]:
df_splits['val'].dtype

dtype('int64')

In [37]:
x = df_splits['val'].astype(srs_slide.dtype)

In [39]:
x.tolist()

[30, 55483886, 49547258, 57134497, 47176089, 54130784]

In [68]:
type(df_splits['test'].tolist()[0])

str

In [78]:
#df_splits['val'].astype(srs_slide.dtype)
df_splits['val'].tolist()

[30, 55483886, 49547258, 57134497, 47176089, 54130784]

In [80]:
strings = ['30', '55483886', '49547258', '57134497', '47176089', '54130784']
numbers = [30, 55483886, 49547258, 57134497, 47176089, 54130784]

In [82]:
srs_slide.isin(strings)

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: slide_id, dtype: bool

In [83]:
srs_slide

0                 0055483886
1                 0047953852
2     DigitalSlide_E6M_15S_1
3                         30
4     DigitalSlide_E6M_17S_1
5                 0054130784
6                 0029468706
7     DigitalSlide_E6M_20S_1
8                 0057134497
9                 0049547258
10                0048086809
11                0047176089
12                0042034876
13                0042711961
14                0046877280
15                0042951302
Name: slide_id, dtype: object

In [85]:
df_splits['test']

0                0046877280
1    DigitalSlide_E6M_17S_1
2    DigitalSlide_E6M_20S_1
3                0029468706
4                0047953852
5                0042711961
Name: test, dtype: object

In [99]:
srs_slide.apply(lambda x: x in set(df_splits['test']))

0     False
1      True
2     False
3     False
4      True
5     False
6      True
7      True
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15    False
Name: slide_id, dtype: bool

In [92]:
strings

['30', '55483886', '49547258', '57134497', '47176089', '54130784']

In [107]:
srs_slide.iloc[8] in strings2

False

In [103]:
srs_slide

0                 0055483886
1                 0047953852
2     DigitalSlide_E6M_15S_1
3                         30
4     DigitalSlide_E6M_17S_1
5                 0054130784
6                 0029468706
7     DigitalSlide_E6M_20S_1
8                 0057134497
9                 0049547258
10                0048086809
11                0047176089
12                0042034876
13                0042711961
14                0046877280
15                0042951302
Name: slide_id, dtype: object

In [105]:
strings2 = ['55483886', '49547258', '30', '57134497', '47176089', '54130784']

In [109]:
srs_slide.iloc[3]

'30'

In [110]:
df_splits['val']

0          30
1    55483886
2    49547258
3    57134497
4    47176089
5    54130784
Name: val, dtype: int64

In [111]:
df_splits

   Unnamed: 0                   train       val                    test
0           0  DigitalSlide_E6M_15S_1        30              0046877280
1           1              0048086809  55483886  DigitalSlide_E6M_17S_1
2           2              0042034876  49547258  DigitalSlide_E6M_20S_1
3           3              0042951302  57134497              0029468706
4           4                     NaN  47176089              0047953852
5           5                     NaN  54130784              0042711961

In [125]:
pd.read_csv('splits/idibell_100/splits_0.csv', dtype=srs_slide.dtype)['val'].dropna().tolist()

['30', '0055483886', '0049547258', '0057134497', '0047176089', '0054130784']